/*ユーザープロフィールページ*/
.mypage {
  margin-top: 100px;
}

/*ユーザープロフィール編集ページ*/
.profile_edit {
  margin: 100px auto 20px auto;
  width: 50%;
  border: 3px #b8547d solid; 
}

.submit {
  padding: 10px;
}

/*ユーザーお気に入りページ*/
.favorite_page {
  margin: 100px;
}